extends common/layout.pug

block content
  main
    h1 Edit Here
    if errorMessage
      each item in errorMessage
        div.user-message.user-message--error #{item.msg}
    form.product-form(action="/admin/site/update" method="POST")
      div.form-control
        input(type="hidden" name="id" value=props_sites.id)
        label(for="title") Site Name
          input.product-form(type="text" name="site" id="site" value=props_sites.name)
        label(for="url") Url
          input.product-form(type="text" name="url" id="url" value=props_sites.url)
      button.btn(type="submit") Edit Site
    div.thumbs-site
      div
        a.btn(href="/admin/thumb/add/"+props_sites.id) Add Thumb
      if props_thumbs.length > 0
        each item in props_thumbs
          article.card.product-item
            header.card__header
              h1.product_title #{item.name.length > 20 ? item.name.substr(0, 17) + '...' : item.name}
            div.card__image
              img(src="https://picsum.photos/200?random" alt="Text-Image")
            div.card__content
              p.product__description Folder: #{item.folder}
              p.product__description Image: #{item.image}
              p.product__description Title: #{item.title}
              p.product__description Live: #{item.live}
            div.card__actions
              a.btn(href="/admin/thumb/edit/"+item.id) Edit
              a.btn(href="/admin/thumb/delete/"+item.id) Delete
      else
        h2 No thumbs
